<div class="fx-container-col">
    <aside class="aside">
        <ul>
            <li>hi</li>
        </ul>
    </aside>
    <div class="grid-container">
        <div class="grid-item">
            <app-dash-tile [item]="tile1"></app-dash-tile>
        </div>
        <div class="grid-item">
            
        </div>        
        <div class="grid-item">
            
        </div>
        <div class="grid-item">

        </div>
        <div class="grid-item">
            
        </div>        
        <div class="grid-item">
            
        </div>
        <div class="grid-item">

        </div>
        <div class="grid-item">
            
        </div>        
        <div class="grid-item">
            
        </div>
    </div>
</div>