  generic-forms-component ::ng-deep .generic-form_label {
    font-size: 1.5rem;
  }

  generic-forms-component ::ng-deep textarea.generic-form_textarea {
    width: 100%;
    min-width: 400px;
    min-height:250px;
    max-width: 800px;
    max-height: 450px;
    background-color: aquamarine;
  }

  generic-forms-component ::ng-deep .generic-form_button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
  }

