<div class="sp-open-tab">
    <button (click)="openSidebar()">SidePanel</button>
</div>
<div *ngIf="open" class="sidebar-container">
    <div class="sidebar-nav">
        <button (click)="openSidebar()">close sp</button>
    </div>
    <a [routerLink]="[{outlets : {sidebar: ['nav', 'andrew'] }}]">show links</a>
    <!-- sp search  could probably have a router search -->
    <input #searchInput>
    <button (click)="spSearch()">search</button>

    <router-outlet name="sidebar"></router-outlet>
</div>
