<footer class="site-footer" role="content-info">
  <div class="site-footer-top">
    <!-- For large screens -->
    <div class="site-footer-top_flexContainer">
      <div class="site-footer-top_flex-item">
        <nav class="site-footer-top_nav" aria-label="for-students">
          <h2>About US</h2>
          <ul class="site-footer-top_nav-list">
            <li class="footer-li"><a>crap</a></li>
            <li><a>smack</a></li>
            <li><a>booze</a></li>
          </ul>
        </nav>
      </div>
      <div class="site-footer-top_flex-item"><h2>For Students</h2>
      <ul>
        <li>crap</li>
        <li>smack</li>
        <li>booze</li>
      </ul></div>
      <div class="site-footer-top_flex-item"><h2>For Teachers</h2>
        <ul>
        <li>crap</li>
        <li>smack</li>
        <li>booze</li>
      </ul></div>
      <div class="site-footer-top_flex-item"><h2>Resources</h2>
        <ul>
        <li>crap</li>
        <li>smack</li>
        <li>booze</li>
      </ul></div>
      <!-- for when this becomes dynamic -->
      <!-- <div class="site-footer-top_flex-item" *ngFor="let topic of footers"></div> -->
    </div>
    <!-- End for large screens -->

    <!-- Grid View For Small Screens -->
    <div class="site-footer-top_gridContainer">
      <div class="site-footer-top_grid-item">
        <nav class="site-footer-top_nav" aria-label="for-students">
          <h2>About US</h2>
          <ul class="site-footer-top_nav-list">
            <li>crap</li>
            <li>smack</li>
            <li>booze</li>
          </ul>
        </nav>
      </div>
      <div class="site-footer-top_grid-item"><h2>For Students</h2>
      <ul>
        <li>crap</li>
        <li>smack</li>
        <li>booze</li>
      </ul></div>
      <div class="site-footer-top_grid-item"><h2>For Teachers</h2>
        <ul>
        <li>crap</li>
        <li>smack</li>
        <li>booze</li>
      </ul></div>
      <div class="site-footer-top_grid-item"><h2>Resources</h2>
        <ul>
        <li>crap</li>
        <li>smack</li>
        <li>booze</li>
      </ul></div>
      <!-- for when this becomes dynamic -->
      <!-- <div class="site-footer-top_flex-item" *ngFor="let topic of footers"></div> -->
    </div>
    <!-- End for small screens -->
  </div>

  <!-- Bottom Footer Start-->
  <div class="site-footer-bottom">
    <section class="site-footer-social-and-copyright">
      <div class="site-footer-socialLinks">social links will go here when I feel like it</div>
      <p class="site-footer-copyright">
        ©<span>2023 Big Poppa, Inc</span>
      </p>
    </section>
  </div>
  <!-- Bottom Footer End -->
</footer>
