<p>flash-cards works!</p>
<nav class="display-options">
  <ul>
    <li (click)="changeView('grid')">grid</li>
    <li (click)="changeView('list')">list</li>
    <li (click)="changeView('carosel')">carosel</li>
    <li (click)="openCreate()">Create New</li>
    <li (click)="toggleSearch()">Search</li>
  </ul>
</nav>
<div *ngIf="searchIsOpen" class="nav-search">
  <app-search></app-search>
</div>
<!-- container page layout -->
<div class="container" (scroll)="onScroll()">
  <!-- row -->
  <div class="col">
    <!-- col -->
    <div *ngIf="(view !== 'carosel')" [ngClass]='view'>
      <ng-container *ngFor="let card of cards">
        <app-flash-card [flashCard]="card"></app-flash-card>
      </ng-container>
    </div>

    <div *ngIf="(view === 'carosel')" class="carosel">
        <app-carosel [listLength]="cards.length"(activeIndexChange)="updateIndex($event)">
          <app-flash-card [flashCard]="cards[activeIndex]"></app-flash-card>
        </app-carosel>
    </div>
  </div>
  <svg>
    <rect x="0"
          y="0"
          width="100"
          height="100"/>
  </svg>
</div>

<!-- end container -->
